body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    background-color: #1b1b1b;
    font-family: 'Montserrat', sans-serif;
}

.background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px) saturate(200%) brightness(70%);
}

header img {
    height: 90px;
    margin-right: 1rem;
    filter: drop-shadow(0 0 8px purple);
}

header h1 {
    font-size: 2.2rem;
    color: white;
    text-shadow: 0 0 10px purple, 0 0 20px purple, 0 0 30px purple, 0 0 40px purple;
}

.main-content {
    padding: 1rem;
}

.search {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
    align-items: center;
}

.search input {
    flex-grow: 1;
    background-color: rgba(0, 0, 0, 0.4);
    border: 2px solid purple;
    border-radius: 15px 0 0 15px;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem;
    margin-right: 0.5rem;
    outline: none;
    text-shadow: 0 0 10px purple;
}

.search button {
    background-color: rgba(0, 0, 0, 0.4);
    border: 2px solid purple;
    border-radius: 0 15px 15px 0;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
    cursor: pointer;
    outline: none;
    text-shadow: 0 0 10px purple;
    transition: 0.3s all ease;
}

.search button:hover {
    background-color: purple;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.game-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: white;
    padding: 1rem;
    border-radius: 10px;
    transition: transform 0.2s;
    filter: drop-shadow(0 0 8px purple);
}

.portal-background {
    background-image: url('images/updated portal.gif');
    background-size: cover;
    background-position: center;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0 0 10px purple);
}

.game-icon {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    z-index: 2;
    filter: drop-shadow(0 0 10px purple);
}
