@font-face {
    font-family: 'AttackGraffiti';
    src: url('spraypaintfont/AttackGraffiti-3zRBM.ttf') format('truetype'),
         url('spraypaintfont/AttackGraffiti-ZVJPZ.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    background-color: #1b1b1b;
    font-family: 'AttackGraffiti', 'Montserrat', sans-serif;
}

.background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

header {
    display: flex;
    flex-direction: column; /* Adjust the header to be a column layout */
    justify-content: center; /* Center the content vertically */
    align-items: center; /* Center the content horizontally */
    height: 50%; /* Make the header take up the entire viewport height */
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px) saturate(200%) brightness(70%);
}

header img {
    height: 230px;
    margin-bottom: 2rem; /* Add margin to separate the logo from the text */
    filter: drop-shadow(0 0 8px purple);
}

header h1 {
    font-size: 2.5rem;
    color: white;
    text-shadow: 0 0 10px purple, 0 0 20px purple, 0 0 30px purple, 0 0 40px purple;
    text-align: center; /* Center the text */
}

.search {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
    align-items: center;
}

.search input {
    flex-grow: 1;
    background-color: rgba(0, 0, 0, 0.4);
    border: 2px solid purple;
    border-radius: 15px;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem;
    margin-right: 0.5rem;
    outline: none;
    text-shadow: 0 0 10px purple;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.game-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: white;
    padding: 1rem;
    border-radius: 10px;
    transition: transform 0.2s;
    filter: drop-shadow(0 0 8px purple);
}

.portal-background {
    background-image: url('images/updated portal.gif');
    background-size: cover;
    background-position: center;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0 0 10px purple);
}

.game-icon {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    z-index: 2;
    filter: drop-shadow(0 0 10px purple);
}
 
